.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  animation: fadeIn 0.2s ease-out;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 750;
  user-select: none;
  padding: 1rem;
  padding-bottom: 1rem;
}

.modal-subtitle {
  font-size: 1.25rem;
  font-weight: 550;
  user-select: none;
  padding-bottom: 0rem;
}

.text-block {
  font-family: "Inter", system-ui, sans-serif;
  padding-bottom: 0rem;
  padding-top: 0rem;
  font-size: 0.9rem;  
}

.modal-content {
  width: 24rem;       
  height: 18rem;       
  min-width: 24rem;
  min-height: 18rem;
  user-select: none;
  font-family: "Inter", system-ui, sans-serif;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  max-width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: scaleIn 0.2s ease-out;
}

.modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.modal-close:hover {
  opacity: 1.0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
